@font-face{
	font-family: dataerror;
	src: url(font/UNDATAME.ttf);
}
body{
	background: #262626;
	font-family: dataerror;
	padding: 0 0;
	margin: 0;
	/*position: relative;*/
	display: block;
	/*color: white;*/
	text-align: center;
	color: indigo;
	overflow: hidden;
	height: 100%;
}
canvas{
	width: 100%;
	height: 100%;
	/*border: 1px solid crimson;*/
}
.wrap{
	margin: 0 auto;
	margin-left: 0;
	transition: all .2s linear;
	-webkit-transition:all .2s linear; 
}
.headsup{
	position: absolute;
	margin-top: 0px;
	opacity: 0.3;
	color: red;
}
.headsup p{
	position: absolute;
	margin-left: 80%;
	margin-top: -20px;
}

.TheMood{
	position: absolute;
	/*float: left;*/
	background: grey;
	width: 100%;
	font-size: 50px;
	padding: 50px 0;
	/*margin-left: 50%;*/
	margin-top: 20%;
	margin-bottom: 5%;
	/*box-shadow: 0px 0px 87px 14px rgba(0,0,0,0.75);*/
}
.triDtest{
	position: absolute;
	background-color: #000;
	width: 100%;
	height: 100vh;
	/*border: 1px solid crimson;*/
}
.textField{
	position: fixed;
	background: white;
	width: 100%;
	/*height: 150px;*/
	/*margin: 46% 38%;*/
	/*float: right;*/
	/*margin-left: 25%;*/
	margin-top: 47%;
	transition: all .2s linear;
	-webkit-transition:all .2s linear; 

}
.textField form{
	display: block;
	padding: 5px;
	height: 85%;
}
.textField form input{
	text-align: center;
	font-family: dataerror;
	font-size: 40px;
	display: block;
	margin-left: 10px;
	width: 98%;
	height: 88%;
}
.locBox{
	position: absolute;
	/*border-radius: 200px;*/
	width: 150px;
	height: 150px;
	padding: 5px 0;
	margin: 20px;
	/*background-color: #1F1F1F;*/
}
.locBox button{
	opacity: 0.4;
	border-radius: 200px;
}
.locBox img{
	width: 100%;
	/*background: #1F1F1F;*/
	opacity: 0.8;
}

@media only screen and (max-width: 1280px) {
	.textField{
		margin-top: 65%;
	}
}
@media all and (max-width: 1024px) {
	.textField{
		margin-top: 75%;
	}
}
@media all and (max-width:800px) {
	.textField{
		margin-top: 60%;
	}
	.textField form input{
		margin-left: 2px;
	}
}
@media all and (max-width:640px) {
	.textField{
		margin-top: 110%;
	}
}
@media all and (max-width:320px) {
	.textField{
		margin-top: 170%;
	}
}
