@font-face{
	font-family: dataerror;
	src: url(font/UNDATAME.ttf);
}
body{
	background: #262626;
	font-family: dataerror;
	padding: 0 0;
	margin: 0;
	/*position: relative;*/
	display: block;
	/*color: white;*/
	text-align: center;
	color: indigo;
	overflow: hidden;
	height: 100%;
}
canvas{
	width: 100%;
	height: 100%;
	/*border: 1px solid crimson;*/
}
.header-top{
	font-size: 30px;
	color: grey;
	/*margin-top: 80vh;*/
	/*color: white;*/
	margin-bottom: 10px;
	/*background: none;*/
	opacity: 0.8;

	/*border: 1px solid crimson;*/
}
/*.header-top div{
	margin-left: 25vh;
	padding: 5px 0;
	height: 6vh;
	width: 148vh;
	border: 1px solid crimson;
}*/
.wrap{
	position: relative;
	margin: 0 auto;
	margin-top: -14px;
	/*height: 100vh;*/
	/*margin-left: 0;*/
	border: 1px;
	border-style: solid;
	border-color: transparent;
	transition: all .2s linear;
	-webkit-transition:all .2s linear; 
}
.headsup{
	position: absolute;
	margin-top: 0px;
	opacity: 0.3;
	color: red;
}
.header p{
	position: absolute;
	margin-left: 80%;
	margin-top: -20px;
}

.TheMood{
	position: absolute;
	/*float: left;*/
	background: grey;
	width: 100%;
	font-size: 50px;
	padding: 50px 0;
	/*margin-left: 50%;*/
	margin-top: 20%;
	margin-bottom: 5%;
	/*box-shadow: 0px 0px 87px 14px rgba(0,0,0,0.75);*/
}
.triDtest{
	position: absolute;
	background-color: #000;
	width: 100%;
	height: 100vh;
	/*border: 1px solid crimson;*/
}
.textField{
	/*position: fixed;*/
	background: grey;
	background-color: transparent;
	width: 100%;
	margin-top: 2vh;
	/*border: 1px solid crimson;*/
	transition: all .2s linear;
	-webkit-transition:all .2s linear; 

}
.textField form{
	display: block;
	padding: 5px;
	height: 85%;
}
.textField form input{
	text-align: center;
	background-color: grey;
	border: 1px solid block;
	font-family: dataerror;
	font-size: 40px;
	display: block;
	margin-left: 10px;
	width: 98%;
	height: 88%;
}
.locBox{
	position: absolute;
	border-radius: 200px;
	width: 100px;
	height: 100%;
	/*padding: 5px 0;*/
	/*margin: 20px;*/
	margin-left: 30px;
	/*background-color: #1F1F1F;*/
}
.button2{
	margin-top: -65px;
}
.button1{
	margin-top: 72vh;
}
.locBox button{
	opacity: 0.6;
	border-radius: 200px;
	background-color: transparent;
	border-color: transparent;
}
.locBox img{
	width: 100%;
	height: 100%;
	/*background: #1F1F1F;*/
	/*opacity: 0.8;*/
}

.locBox .tooltip{
	font-family: none;
	font-size: 15px;
	visibility: hidden;
	width: 120px;
	background-color: black;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px 0;
	position: absolute;
	z-index: 1;
	top: -5px;
	left: 110%;

	opacity: 0;
    transition: opacity 1s;
}
.locBox .tooltip::after{
	content: "";
	position: absolute;
	top: 50%;
	right: 100%;
	margin-top: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: transparent black transparent transparent;
}
.locBox:hover .tooltip{
	visibility: visible;
	opacity: 1;
}

.ambient{
	float: right;
	/*margin-left: 86%;*/
	position: relative;
}



@media only screen and (max-width: 1280px) {

}
@media all and (max-width: 1024px) {
   
}
@media all and (max-width:800px) {
	.textField form input{
		margin-left: 4px;
	}
}
@media all and (max-width:640px) {
	.textField{
		/*margin-top: 80vh;*/
		/*margin-left: 0px;*/
	}
	.textField form input{
		margin-left: 2px;
	}
}
@media all and (max-width:480px) {
	.textField form input{
		margin-left: 1px;
	}
}
@media all and (max-width:320px) {
	.textField form input{
		margin-left: 0px;
	}
}


